.integral_layout {
  .main {
    width: 375px;
    padding: 16px;
    .content {
      position: relative;
      width: 343px;
      height: 56px;
      padding: 16px;
      // border-radius: 8px;
      background: $white;
      .tips {
        color: $Tertiary;
        .icon_right {
          width: 12px;
          height: 12px;
          margin: 2px 0 0 4px;
          transform: rotate(-90deg);
        }
      }
      .info {
        color: $Primary;
        .num {
          margin-right: 4px;
        }
      }
    }
  }
}
