.layout {
  .main {
    width: 375px;
    padding: 24px 32px;
    // .goods {
    //   padding: 56px 0 40px;
    //   .image {
    //     width: 120px;
    //     height: 120px;
    //     margin-top: 8px;
    //   }
    // }
    .info {
      width: 100%;
      margin-bottom: 40px;
      &_item {
        .label {
          width: 80px;
          padding-bottom: 8px;
          color: $Primary;
        }
        .item_bottom {
          margin-bottom: -8px;
          .radio_box {
            width: 151px;
            height: 30px;
            padding: 6px 0;
            color: $Tertiary;
            margin-bottom: 8px;
            .radio {
              width: 16px;
              height: 16px;
              border: 1px solid $Tertiary;
              border-radius: 24px;
              margin-right: 8px;
            }
            &.active {
              color: $Primary;
              .radio {
                position: relative;
                border-color: $Brand;
                &::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 8px;
                  height: 8px;
                  background-color: $Brand;
                  border-radius: 24px;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
          .radio_box:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .btn {
      width: 100%;
    }
  }
}
