@import './scss/base.scss';

view,
scroll-view {
  box-sizing: border-box;
}
image,
img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: bottom;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: $white;
  font-size: 12px;
  color: $Primary;
  font-family: 'FZLanTingHei-R-GBK', PingFang SC-Semibold, PingFang SC;
}

.numfnt {
  font-family: 'CentraleSans';
}

.numfnt-medium {
  font-family: 'CentraleSans-medium';
}

.page_bg {
  width: 375px;
  min-height: 100vh;
  background: url('./static/icon/icon_bg.png') no-repeat;
  background-position: left bottom;
  background-size: 375px 353px;
  /* 固定背景图片位置 */
  background-attachment: fixed;
}

.icon-right {
  width: 16px;
  height: 16px;
}

.nut-popup__close-icon {
  width: 24px !important;
  height: 24px !important;
}

/* 按钮 plain默认样式 */
.nut-button--plain.nut-button--primary {
  border: 1px solid $Tertiary !important;
}

/* 按钮 plain 禁止样式 */
.nut-button--plain.nut-button--disabled {
  color: $Primary !important;
}

.fade-opacity {
  animation: fadeOpacity 0.3s ease both;
}

.fade-opacity-reverse {
  animation: fadeOpacity 0.3s ease reverse both;
}

@keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shadow {
  box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, 0.3);
}

.tabbar-placeholder {
  width: 100%;
  height: 112px;
}

.iphone-end {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.popup_filter {
  border-radius: 24px 24px 0 0;
  fill: rgba($color: $Tertiary, $alpha: 0.08);
  box-shadow: 0 0 16px 0 rgba($color: $Tertiary, $alpha: 0.15) inset;
  border-radius: 24px 24px 0 0;
  backdrop-filter: blur(10px);
}

scroll-view ::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  color: transparent;
}
