.content {
  padding: 18px;
  box-sizing: border-box;
  .pop_title {
    margin-top: 30rpx;
  }
  .pop_hint {
    margin: 50px 0;
  }
  .icon_right {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 6px;
    height: 10px;
    margin-top: 2px;
  }
  .form {
    margin: 30px 0 40px 0;
    width: 100%;
    .item {
      margin-bottom: 10px;
      &_text {
        color: $Tertiary;
      }
      &_input {
        padding: 12px 18px;
        box-sizing: border-box;
        width: 233px;
        height: 44px;
        background: rgba(37, 23, 21, 0.1);
        border-radius: 8px;
      }
    }
    .item_input-H {
      height: 64px;
    }
  }
  .btn {
    width: 135px;
    height: 45px;
    border-radius: 27px;
    border: 1px solid $primary-color;
    &_cancel {
      color: $primary-color;
    }
    &_affirm {
      margin-left: 12px;
      background: $primary-color;
      color: $white;
    }
  }
}
